<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>測試樣板</title>
<!-- 連結思源中文及css -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link href="/static/imgs/icon.jpg" rel="shortcut icon">
<link href="/static/css/menu.css" rel="stylesheet"/>  
<link href="/static/css/main.css" rel="stylesheet"/>      
<!------------------------->
</head>
   
<body>
    <!--**************************-->
    <div class="container">    
        <!--~~~~~~~~~~~~~~~~~-->
        <div class="header">           
        </div>        
        
        <!--~~~~~~~~~~~~~~~~~-->        
        <ul id="navigation">        
            <li><a href="/">主頁</a></li>            
            
            <li class="sub">         
                <a href="#">客戶</a>          
                <ul>          
                    <li><a href="/customer/create/form">新增</a></li>
                    <li><a href="/customer/delete/form">刪除</a></li>
                    <li><a href="/customer/update/read/form">更改</a></li>   
                    <li><a href="/customer/read/form">查詢</a></li>     
                    <li><a href="/customer/list">清單</a></li>    
                    <li><a href="/customer/test">測試</a></li>        
                </ul>
            </li>
            
            <li class="sub">         
                <a href="#">產品</a>          
                <ul>          
                    <li><a href="/product/create/form">新增</a></li>
                    <li><a href="/product/delete/form">刪除</a></li>
                    <li><a href="/product/update/read/form">更改</a></li>   
                    <li><a href="/product/read/form">查詢</a></li>  
                    <li><a href="/product/list">清單</a></li>                    
                </ul>
            </li>   
            
            <li class="sub">         
                <a href="#">供應商</a>          
                <ul>          
                    <li><a href="/supplier/create/form">新增</a></li>
                    <li><a href="/supplier/delete/form">刪除</a></li>
                    <li><a href="/supplier/update/read/form">更改</a></li>   
                    <li><a href="/supplier/read/form">查詢</a></li>
                    <li><a href="/supplier/list">清單</a></li>                  
                </ul>
            </li>                     
         
         
            <li class="sub">         
                <a href="#">員工</a>          
                <ul>          
                    <li><a href="/employee/create/form">新增</a></li>
                    <li><a href="/employee/delete/form">刪除</a></li>
                    <li><a href="/employee/update/read/form">更改</a></li>   
                    <li><a href="/employee/read/form">查詢</a></li> 
                    <li><a href="/employee/list">清單</a></li>                     
                </ul>
            </li>  
            
            <li class="sub">         
                <a href="#">交易作業</a>          
                <ul>          
                    <li><a href="/transaction/buy/form">進貨</a></li>
                    <li><a href="/transaction/sale/form">銷貨</a></li>
                    <li><a href="/inventory/form">盤點</a></li>          
                </ul>
            </li>  
  
            <li class="sub">         
                <a href="/user/show">使用者</a>          
                <ul>          
                    <li><a href="/user/login/form">登入</a></li>
                    <li><a href="/user/logout">登出</a></li>         
                </ul>
            </li>        
        </ul>
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="content">
            <h2>樣板畫面</h2>

            <p>
                這裡可以加入公司介紹或產品訊息或某功能特有的資訊內容.            
            </p>       
               
        </div>       
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="footer">
            NTUB imd, 2023.    
        </div>  
    </div>
    <!--**************************-->    
</body>
   
</html>
