<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>測試樣板</title>
<!-- 連結思源中文及css -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link href="imgs/icon.jpg" rel="shortcut icon">
<link href="css/menu.css" rel="stylesheet"/>  
<link href="css/main.css" rel="stylesheet"/>      
<!------------------------->
</head>
   
<body>
    <!--**************************-->
    <div class="container">    
        <!--~~~~~~~~~~~~~~~~~-->
        <div class="header">           
        </div>        
        
        <!--~~~~~~~~~~~~~~~~~-->        
        <ul id="navigation">        
            <li><a href="/">返回主頁</a></li> 
        </ul>
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="content">
            <h2>子功能樣板畫面</h2>

            <p>
                這裡可以加入公司介紹或產品訊息或某功能特有的資訊內容.            
            </p>       
               
        </div>       
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="footer">
            NTUB imd, 2023.    
        </div>  
    </div>
    <!--**************************-->    
</body>
   
</html>
